<!DOCTYPE HTML>
<hmtl>
<!-- 세부 페이지는 일단 이미지랑 이런거는 나중에 추가하고 지금은 텍스트만 들어가는거 확인 하면 됨-->
    <head>
        <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/static/css/detail_style.css" type="text/css" rel="stylesheet" />
        <meta charset="utf-8" />
    </head>
    <header class="row valign-wrapper">
        <div class="image-wrapper col s2 valign">
            <img class="circle responsive-img" src="/static/image/sample.jpg" style=" min-width:180px;" />
            <h5 class="center-align white-text">GroupName<h5>
        </div>
                
    </header>
            <nav id="topMenu" >
                <ul>
                        <li><a class="menuLink" href="#">About us</a></li>
                        <li><a class="menuLink" href="#">Prize</a></li>
                        <li><a class="menuLink" href="#">Curriculum</a></li>
                        <li><a class="menuLink" href="#">News</a></li>
                        <li><a class="menuLink" href="#">Blog</a></li>
                </ul>
        </nav>
    <body>
        <div class="divider"></div>
        <div class="section">
            <h5>About us</h5>
            <p>Stuff</p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h5>Prize</h5>
            <p>Stuff</p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h5>Curriculum</h5>
            <p>Stuff</p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h5>News</h5>
            <p>Stuff</p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h5>Blog</h5>
            <p>Stuff</p>
        </div>
    </body>
</hmtl>